body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
}
.contato{
    color: aqua;
    text-decoration: none
}
a { 
    color: aqua;
}
.botao {
    cursor: pointer;
    position: absolute;
    right: 1500px;
    padding: 10px 20px;
    border: none;
    border-radius: 5%;
    font-size: 16px;
    background-color: rgb(58, 58, 58);
    color: black;
    font-size: 25px;
    text-decoration: none ;
}
